<h1>Editing Credit Card Statement</h1>

<%= render 'form', credit_card_statement: @credit_card_statement %>

<%= link_to 'Show', @credit_card_statement %> |
<%= link_to 'Back', credit_card_statements_path %>
