<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th style="text-align:right">Debit</th>
      <th style="text-align:right">Credit</th>
      <th style="text-align:right">Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render transactions %>
  </tbody>
</table>