<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<%= form_with url: transactions_path, method: :get do |form| %>
  <%= form.text_field :query %>
<% end %>

<%= render 'transactions', transactions: @transactions %>
