<h1>Monet</h1>


<nav>
  <ul>
    <li><%= link_to "Upload credit card statement", new_credit_card_statement_path %></li>
    <li><%= link_to "Transactions", transactions_path %></li>
    <li><%= link_to "Vendors", vendors_path %></li>
  </ul>
</nav>