<h1>Vendors Report</h1>

<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Count</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @vendor_transactions.each do |vendor, transactions| %>
      <tr>
        <td><%= link_to vendor.name, vendor %></td>
        <td><%= transactions.size %></td>
        <td><%= number_to_currency(transactions.sum(&:debit)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>