<h1>Vendors Report</h1>

<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Count</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @vendor_transactions.each do |vendor_name, transactions_count, transactions_total| %>
      <tr>
        <td><%= vendor_name %></td>
        <td><%= transactions_count %></td>
        <td><%= number_to_currency(transactions_total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>