<h1>Yearly Report</h1>

<p><strong><%= @year %></strong></p>
<p><strong>Spent: </strong><%= number_to_currency(@transactions.map(&:debit).compact.sum) %></p>

<%= render 'transactions/transactions', transactions: @transactions %>